.table__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__container {
    background-color: map-get($map: $colors, $key: table-bg);
    width: 90%;
    border-radius: 8px;
    
}

.table__header {
    background-color: map-get($map: $colors, $key: header-bg);
    color: map-get($map: $colors, $key: header-text);
    padding: 1rem 2rem;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header--actions--container {
    display: flex;
    gap: 1rem;
}

.table__content {
    padding: 1.6rem;
}

.table__table-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.th {
    @include font-size-rem(1.2);
    color: map-get($map: $colors, $key: table-head);
    font-weight: bold;
}

.table__table-head {
    display: flex;
    align-items: center;
    justify-content: start;

    & .col {
        &-check {
            width: 5%;
        }
        &-name {
            width: 30%;
        }
        &-email {
            width: 20%;
        }
        &-address {
            width: 20%;
        }
        &-phone {
            width: 15%;
        }
        &-actions {
            width: 5%;
        }
    }

    & .checkbox {
        width: 1.2rem;
        height: 1.2rem;
    }
}