.table__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__container {
    background-color: map-get($map: $colors, $key: table-bg);
    width: 90%;
    border-radius: 8px;
}

.table__header {
    background-color: map-get($map: $colors, $key: header-bg);
    color: map-get($map: $colors, $key: header-text);
    padding: 1rem 2rem;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header--actions--container {
    display: flex;
    gap: 1rem;
}

.table__content {
    padding: 4em;
}

.table__table-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    height: 400px;
    overflow-y: auto;
    color: map-get($map: $colors, $key: primary-font)
}

.th {
    @include font-size-rem(1.2);
    color: map-get($map: $colors, $key: table-head);
    font-weight: bold;
}

.table__table-head {
    display: flex;
    align-items: center;
    padding-bottom: 1.2em;
}

.checkbox {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

.cell {
    padding: 0 1em;
    &--check {
        width: 10%;
    }
    &--first-name {
        width: 20%;
    }
    &--email {
        width: 20%;
    }
    &--last-name {
        width: 20%;
    }
    &--age {
        width: 8%;
    }
    &--grade {
        width: 10%;
    }
    &--actions {
        width: 12%;
    }
}

.table__row {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2em 0;
}

.action--buttons {
    display: flex;
    gap: 1em;
}